<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- viewport 标签让页面正确支持响应式布局 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../../plugins/bootstrap/css/bootstrap.css">
    <title>辉辉管理</title>
</head>
<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="javascript:;">Devin舞蹈</a>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#">退出</a>
            </li>
        </ul>
    </nav>
    <div class="container-fluid">

        <span>dfdfasdfdfd</span>
        <span class="glyphicon glyphicon-menu-left"></span>

    </div>
</body>
<!--bootstrap 依赖jquery-->
<script src="../../plugins/jquery/jquery-3.4.1.min.js"></script>
<script src="../../plugins/bootstrap/js/bootstrap.js"></script>
</html>