<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- viewport 标签让页面正确支持响应式布局 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../../plugins/bootstrap/css/bootstrap.css">
    <title>栅格</title>

</head>
<body>
    <div class="container bg-success">
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2">栅格2</div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">栅格4</div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">栅格6</div>
        </div>
        <div class="row">
            <div class="col-md-2 col-sm-2">栅格2</div>
            <div class="col-md-4 col-sm-4">栅格4</div>
            <div class="col-md-6 col-sm-6">栅格6</div>
        </div>
    </div>


    <script src="../../plugins/jquery/jquery-3.4.1.min.js"></script>
    <!--bootstrap 依赖jquery-->
    <script src="../../plugins/bootstrap/js/bootstrap.js"></script>
    <script>
        $(function () {


        })
    </script>
</body>

</html>